.container {
    --min-width: 80em;
    width: min(var(--max-width), 100% - var(--px-lg) * 2); /* subtract lateral padding from both sides */
    margin-inline: auto; /* center container */
}

.desktop-only {
    display: initial;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}

/* < 1280px */
@media (width < 80em) {
    .container {
        --min-width: 22.5rem; /* 360px */
    }

    .desktop-only {
        display: none;
    }

    .flex {
        flex-direction: column;
    }

    .flex-2 {
        flex: 1;
    }
}
